Repository shotcowboystyle/shotcowboystyle.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: format, eslint, stylelint, lint-package, lint-packages

format:
  run: pnpm exec prettier --ignore-unknown --cache --write --no-error-on-unmatched-pattern --log-level error {staged_files}
  stage_fixed: true

eslint:
  run: pnpm exec eslint --ignore-path '.eslintignore' --fix {staged_files}
  stage_fixed: true

stylelint:
  run: pnpm exec stylelint {staged_files} --cache --fix
  stage_fixed: true

lint-package:
  run: pnpm run lint:package:check

lint-packages:
  run: pnpm run lint:packages:check

chore: acknowledge task is already complete (#695)
  src/utils/ua.test.ts
Due: format, eslint

⚡ perf: replace forEach with for...of in material array disposal loops (#696)
  src/pages/tower-blocks.astro
Due: format, eslint, stylelint

🧹 [code health] Remove unused user agent detection methods (#694)
  src/utils/detect.test.ts
  src/utils/detect.ts
Due: format, eslint

fix(deps): unblock CI for the renovate dependency merges
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  renovate.json
Due: format, eslint, lint-package, lint-packages

chore(deps): merge open Renovate PRs and repair the broken CI gate (#702)
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  renovate.json
Due: format, eslint, lint-package, lint-packages

Refactor project card structure and update design documentation
  DESIGN.md
  README.md
  e2e/tests/accessibility/index.spec.ts
  e2e/tests/pages/page-transition.spec.ts
  package.json
  pnpm-lock.yaml
  public/animation/lottie-back-to-top.json
  src/components/about/about.astro
  src/components/about/back-to-top.astro
  src/components/about/bio.astro
  src/components/about/social-card.astro
  src/components/circle-button.astro
  src/components/contact.astro
  src/components/landing.astro
  src/components/motion-demo.astro
  src/components/project-card.astro
  src/components/testimonials/rating.astro
  src/components/testimonials/testimonial-card.astro
  src/components/testimonials/testimonials-swiper.astro
  src/components/testimonials/testimonials.astro
  src/content.config.ts
  src/content/project/charleston-bonsai.md
  src/content/project/frigate-boost.md
  src/content/project/isla-suds.md
  src/content/project/kalmia-woods.md
  src/layouts/base.astro
  src/lib/app.ts
  src/pages/immature.astro
  src/pages/work/[slug].astro
  src/styles/base.css
  src/utils/event-bus.ts
Due: format, eslint, stylelint, lint-package, lint-packages

Refactor project card structure and update design documentation (#708)
  DESIGN.md
  README.md
  e2e/tests/accessibility/index.spec.ts
  e2e/tests/pages/page-transition.spec.ts
  package.json
  pnpm-lock.yaml
  public/animation/lottie-back-to-top.json
  src/components/about/about.astro
  src/components/about/back-to-top.astro
  src/components/about/bio.astro
  src/components/about/social-card.astro
  src/components/circle-button.astro
  src/components/contact.astro
  src/components/landing.astro
  src/components/motion-demo.astro
  src/components/project-card.astro
  src/components/testimonials/rating.astro
  src/components/testimonials/testimonial-card.astro
  src/components/testimonials/testimonials-swiper.astro
  src/components/testimonials/testimonials.astro
  src/content.config.ts
  src/content/project/charleston-bonsai.md
  src/content/project/frigate-boost.md
  src/content/project/isla-suds.md
  src/content/project/kalmia-woods.md
  src/layouts/base.astro
  src/lib/app.ts
  src/pages/immature.astro
  src/pages/work/[slug].astro
  src/styles/base.css
  src/utils/event-bus.ts
Due: format, eslint, stylelint, lint-package, lint-packages

feat: update resume for 2026
  public/downloads/Resume.pdf
Due: none

feat: update resume for 2026 (#710)
  public/downloads/Resume.pdf
Due: none

fix: run pnpm dedupe to fix lockfile errors
  pnpm-lock.yaml
Due: format

fix: pin github actions ubuntu image to ubuntu-26.04
  .github/workflows/ci.yml
Due: format

fix: run pnpm dedupe to fix lockfile errors (#716)
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: format

feat: replace Frigate Boost card with Holy City Live, slow card scroll
  cspell.json
  src/assets/images/frigate-boost-screenshot.png
  src/assets/images/holy-city-live-screenshot.png
  src/components/landing.astro
  src/content/project/frigate-boost.md
  src/content/project/holy-city-live.md
Due: format, eslint, stylelint

feat: replace Frigate Boost card with Holy City Live, slow card scroll (#717)
  cspell.json
  src/assets/images/frigate-boost-screenshot.png
  src/assets/images/holy-city-live-screenshot.png
  src/components/landing.astro
  src/content/project/frigate-boost.md
  src/content/project/holy-city-live.md
Due: format, eslint, stylelint

feat: switch to Thunder and General Sans, add Clean Break card
  public/fonts/Geist-Variable.woff2
  public/fonts/GeneralSans-Variable.woff2
  public/fonts/Thunder-VF.woff2
  src/assets/images/clean-break-screenshot.png
  src/components/circle-button.astro
  src/components/header-content.astro
  src/components/landing.astro
  src/content.config.ts
  src/content/project/charleston-bonsai.md
  src/content/project/clean-break.md
  src/layouts/base.astro
  src/styles/base.css
Due: format, eslint, stylelint

ci: harden workflows and cut wasted runs
  .github/actions/prepare/action.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  renovate.json
Due: format

ci: harden workflows and cut wasted runs (#719)
  .github/actions/prepare/action.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  renovate.json
Due: format

chore: refresh project captures for redesigned client sites
  cspell.json
  src/assets/images/charleston-bonsai-screenshot.png
  src/assets/images/charleston-bonsai/desktop-catalog.webp
  src/assets/images/charleston-bonsai/desktop-hero.webp
  src/assets/images/charleston-bonsai/desktop-ligustrum.webp
  src/assets/images/charleston-bonsai/desktop-real-tree.webp
  src/assets/images/charleston-bonsai/desktop-seasons.webp
  src/assets/images/charleston-bonsai/desktop-specimen-detail.webp
  src/assets/images/charleston-bonsai/desktop-specimen-hero.webp
  src/assets/images/charleston-bonsai/desktop-waiting.webp
  src/assets/images/charleston-bonsai/phone-care-notes.webp
  src/assets/images/charleston-bonsai/phone-catalog.webp
  src/assets/images/charleston-bonsai/phone-hero.webp
  src/assets/images/charleston-bonsai/phone-real-tree.webp
  src/assets/images/charleston-bonsai/phone-specimen.webp
  src/assets/images/holy-city-live-screenshot.png
  src/assets/images/holy-city-live/desktop-construction.webp
  src/assets/images/holy-city-live/desktop-flood-heat.webp
  src/assets/images/holy-city-live/desktop-public-safety.webp
  src/assets/images/holy-city-live/desktop-service-days.webp
  src/assets/images/holy-city-live/phone-construction.webp
  src/assets/images/holy-city-live/phone-public-safety.webp
  src/assets/images/holy-city-live/phone-service-days.webp
  src/assets/images/isla-suds-screenshot.png
  src/assets/images/isla-suds/desktop-fresh.webp
  src/assets/images/isla-suds/desktop-hero.webp
  src/assets/images/isla-suds/desktop-product-cards.webp
  src/assets/images/isla-suds/desktop-silky-smooth.webp
  src/assets/images/isla-suds/phone-hero.webp
  src/assets/images/isla-suds/phone-own-skin.webp
  src/assets/images/isla-suds/phone-products.webp
  src/content/project/charleston-bonsai.md
  src/content/project/holy-city-live.md
Due: format

chore: refresh project captures for redesigned client sites (#720)
  cspell.json
  src/assets/images/charleston-bonsai-screenshot.png
  src/assets/images/charleston-bonsai/desktop-catalog.webp
  src/assets/images/charleston-bonsai/desktop-hero.webp
  src/assets/images/charleston-bonsai/desktop-ligustrum.webp
  src/assets/images/charleston-bonsai/desktop-real-tree.webp
  src/assets/images/charleston-bonsai/desktop-seasons.webp
  src/assets/images/charleston-bonsai/desktop-specimen-detail.webp
  src/assets/images/charleston-bonsai/desktop-specimen-hero.webp
  src/assets/images/charleston-bonsai/desktop-waiting.webp
  src/assets/images/charleston-bonsai/phone-care-notes.webp
  src/assets/images/charleston-bonsai/phone-catalog.webp
  src/assets/images/charleston-bonsai/phone-hero.webp
  src/assets/images/charleston-bonsai/phone-real-tree.webp
  src/assets/images/charleston-bonsai/phone-specimen.webp
  src/assets/images/holy-city-live-screenshot.png
  src/assets/images/holy-city-live/desktop-construction.webp
  src/assets/images/holy-city-live/desktop-flood-heat.webp
  src/assets/images/holy-city-live/desktop-public-safety.webp
  src/assets/images/holy-city-live/desktop-service-days.webp
  src/assets/images/holy-city-live/phone-construction.webp
  src/assets/images/holy-city-live/phone-public-safety.webp
  src/assets/images/holy-city-live/phone-service-days.webp
  src/assets/images/isla-suds-screenshot.png
  src/assets/images/isla-suds/desktop-fresh.webp
  src/assets/images/isla-suds/desktop-hero.webp
  src/assets/images/isla-suds/desktop-product-cards.webp
  src/assets/images/isla-suds/desktop-silky-smooth.webp
  src/assets/images/isla-suds/phone-hero.webp
  src/assets/images/isla-suds/phone-own-skin.webp
  src/assets/images/isla-suds/phone-products.webp
  src/content/project/charleston-bonsai.md
  src/content/project/holy-city-live.md
Due: format

build: run dev, preview, e2e and Lighthouse behind portless
  .github/workflows/ci.yml
  .gitignore
  README.md
  cspell.json
  lighthouserc.cjs
  lighthouserc.mobile.cjs
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: format, eslint, lint-package, lint-packages

build: run dev, preview, e2e and Lighthouse behind portless (#722)
  .github/workflows/ci.yml
  .gitignore
  README.md
  cspell.json
  lighthouserc.cjs
  lighthouserc.mobile.cjs
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: format, eslint, lint-package, lint-packages

fix: stop iOS Safari blacking out at the experiments plate
  e2e/tests/pages/page-transition.spec.ts
  src/assets/images/donald-trump.jpeg
  src/assets/images/jar-jar-binks.jpeg
  src/assets/images/ned-flanders.jpeg
  src/components/about/cv.astro
  src/components/experiments-plate.astro
  src/components/header-content.astro
  src/components/landing.astro
  src/components/testimonials/rating.astro
  src/components/testimonials/testimonial-card.astro
  src/content.config.ts
  src/content/testimonial/donald-trump.md
  src/content/testimonial/jar-jar-binks.md
  src/content/testimonial/ned-flanders.md
  src/styles/base.css
Due: format, eslint, stylelint

fix: stop iOS Safari blacking out at the experiments plate (#723)
  e2e/tests/pages/page-transition.spec.ts
  src/assets/images/donald-trump.jpeg
  src/assets/images/jar-jar-binks.jpeg
  src/assets/images/ned-flanders.jpeg
  src/components/about/cv.astro
  src/components/experiments-plate.astro
  src/components/header-content.astro
  src/components/landing.astro
  src/components/testimonials/rating.astro
  src/components/testimonials/testimonial-card.astro
  src/content.config.ts
  src/content/testimonial/donald-trump.md
  src/content/testimonial/jar-jar-binks.md
  src/content/testimonial/ned-flanders.md
  src/styles/base.css
Due: format, eslint, stylelint

chore: refresh Kalmia Woods captures for the redesigned site
  src/assets/images/kalmia-woods-screenshot.png
  src/assets/images/kalmia-woods/desktop-cabin.webp
  src/assets/images/kalmia-woods/desktop-cabins.webp
  src/assets/images/kalmia-woods/desktop-dining.webp
  src/assets/images/kalmia-woods/desktop-hero.webp
  src/assets/images/kalmia-woods/desktop-lakes.webp
  src/assets/images/kalmia-woods/desktop-rooms.webp
  src/assets/images/kalmia-woods/phone-hero.webp
  src/assets/images/kalmia-woods/phone-rooms.webp
  src/content/project/kalmia-woods.md
Due: format

chore: dedupe lockfile
  pnpm-lock.yaml
Due: format

chore: refresh Kalmia Woods captures for the redesigned site (#724)
  pnpm-lock.yaml
  src/assets/images/kalmia-woods-screenshot.png
  src/assets/images/kalmia-woods/desktop-cabin.webp
  src/assets/images/kalmia-woods/desktop-cabins.webp
  src/assets/images/kalmia-woods/desktop-dining.webp
  src/assets/images/kalmia-woods/desktop-hero.webp
  src/assets/images/kalmia-woods/desktop-lakes.webp
  src/assets/images/kalmia-woods/desktop-rooms.webp
  src/assets/images/kalmia-woods/phone-hero.webp
  src/assets/images/kalmia-woods/phone-rooms.webp
  src/content/project/kalmia-woods.md
Due: format

fix(home): match reference plate timing and exit
  DESIGN.md
  src/components/landing.astro
  src/lib/section-card-scroll-animation.ts
Due: format, eslint, stylelint

feat(home): per-project card grounds, art and ink
  DESIGN.md
  src/assets/images/charleston-bonsai/card-bg-mobile.svg
  src/assets/images/charleston-bonsai/card-bg.svg
  src/assets/images/clean-break/card-bg-mobile.svg
  src/assets/images/clean-break/card-bg.svg
  src/assets/images/holy-city-live/card-bg-mobile.svg
  src/assets/images/holy-city-live/card-bg.svg
  src/assets/images/isla-suds/card-bg-mobile.svg
  src/assets/images/isla-suds/card-bg.svg
  src/assets/images/kalmia-woods/card-bg-mobile.svg
  src/assets/images/kalmia-woods/card-bg.svg
  src/components/back-link.astro
  src/components/circle-button.astro
  src/components/landing.astro
  src/components/project-card.astro
  src/content.config.ts
  src/content/project/charleston-bonsai.md
  src/content/project/clean-break.md
  src/content/project/holy-city-live.md
  src/content/project/isla-suds.md
  src/content/project/kalmia-woods.md
  src/lib/projects.ts
  src/lib/section-card-scroll-animation.ts
  src/pages/work/[slug].astro
Due: format, eslint, stylelint

chore(content): refresh Kalmia Woods card capture
  src/assets/images/kalmia-woods-screenshot.png
Due: none

feat(home): tilt card screenshots upright as plates enter
  DESIGN.md
  src/components/project-card.astro
  src/lib/section-card-scroll-animation.ts
Due: format, eslint, stylelint

build(deps): dedupe lockfile
  pnpm-lock.yaml
Due: format

feat(home): per-project card grounds, reference scroll timing and exit (#725)
  DESIGN.md
  src/assets/images/charleston-bonsai/card-bg-mobile.svg
  src/assets/images/charleston-bonsai/card-bg.svg
  src/assets/images/clean-break/card-bg-mobile.svg
  src/assets/images/clean-break/card-bg.svg
  src/assets/images/holy-city-live/card-bg-mobile.svg
  src/assets/images/holy-city-live/card-bg.svg
  src/assets/images/isla-suds/card-bg-mobile.svg
  src/assets/images/isla-suds/card-bg.svg
  src/assets/images/kalmia-woods/card-bg-mobile.svg
  src/assets/images/kalmia-woods/card-bg.svg
  src/components/back-link.astro
  src/components/circle-button.astro
  src/components/landing.astro
  src/components/project-card.astro
  src/content.config.ts
  src/content/project/charleston-bonsai.md
  src/content/project/clean-break.md
  src/content/project/holy-city-live.md
  src/content/project/isla-suds.md
  src/content/project/kalmia-woods.md
  src/lib/projects.ts
  src/lib/section-card-scroll-animation.ts
  src/pages/work/[slug].astro
Due: format, eslint, stylelint

feat(about): compute the mystery box question mark and add Bonsai Studio link
  src/components/about/about.astro
  src/components/about/mystery-box.astro
  src/components/about/question-mark.test.ts
  src/components/about/question-mark.ts
Due: format, eslint, stylelint

Path conditions:
  format: any of: *.{js,cjs,mjs,ts,jsx,tsx,md,json,css,scss,html,yml,yaml,astro}
  eslint: any of: *.{js,cjs,mjs,jsx,ts,tsx,astro}
  stylelint: any of: *.{astro,css,scss}
  lint-package: any of: package.json
  lint-packages: any of: package.json
