Repository shotcowboystyle/shotcowboystyle.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: format, eslint, stylelint, lint-package, lint-packages

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md

post-checkout:
  commands:
    conditional-pnpm-install:
      # Run pnpm install if pnpm-lock changed between the commits we checked out.
      # {1} is old-hash, {2} is current-head, {3} is 1 for a branch checkout, 0 for a file checkout
      # See https://git-scm.com/docs/githooks#_post_checkout
      run: 'if [ ! -z "$(git diff {1}..{2} --name-only pnpm-lock.yaml)" ]; then pnpm install -r; fi'

# Use this to build commit messages
prepare-commit-msg:
  commands:
    commitzen:
      interactive: true
      run: LEFTHOOK=0 pnpm cz

# Use this to validate commit messages
commit-msg:
  commands:
    'lint commit message':
      run: pnpm commitlint --edit {1}

# pre-push:
#   parallel: true
#   commands:
#     stylelint:
#       tags: frontend style
#       files: git diff --name-only master
#       glob: "*.js"
#       run: yarn stylelint {files}
#   scripts:
#     "verify":
#       runner: sh

#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit

pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{js,cjs,mjs,ts,jsx,tsx,md,json,css,scss,html,yml,yaml,astro}'
      run: pnpm exec prettier --ignore-unknown --cache --write --no-error-on-unmatched-pattern --log-level error {staged_files}
      stage_fixed: true
    eslint:
      glob: '*.{js,cjs,mjs,jsx,ts,tsx,astro}'
      run: pnpm exec eslint --ignore-path '.eslintignore' --fix {staged_files}
      stage_fixed: true
    stylelint:
      glob: '*.{astro,css,scss}'
      run: pnpm exec stylelint {staged_files} --cache --fix
      stage_fixed: true
    lint-spelling:
      run: 'pnpm exec cspell {staged_files}'
    lint-package:
      glob: 'package.json'
      run: 'pnpm run lint:package:check'
    lint-packages:
      glob: 'package.json'
      run: 'pnpm run lint:packages:check'
    dead-code:
      run: 'pnpm run lint:knip:check'
    typecheck:
      run: 'pnpm run types:check'
      stage_fixed: true

test: add Vitest as the unit test runner
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  CLAUDE.md
  README.md
  cspell.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/config/animation.test.ts
  src/utils/color.test.ts
  src/utils/date.test.ts
  src/utils/debounce.test.ts
  src/utils/delay.test.ts
  src/utils/detect.test.ts
  src/utils/disposable.test.ts
  src/utils/typed-event-bus.test.ts
  vitest.config.ts
Due: format, eslint, lint-package, lint-packages

test: add Vitest as the unit test runner (#669)
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  CLAUDE.md
  README.md
  cspell.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/config/animation.test.ts
  src/utils/color.test.ts
  src/utils/date.test.ts
  src/utils/debounce.test.ts
  src/utils/delay.test.ts
  src/utils/detect.test.ts
  src/utils/disposable.test.ts
  src/utils/typed-event-bus.test.ts
  vitest.config.ts
Due: format, eslint, lint-package, lint-packages

test(e2e): cover every route with axe and enforce all Lighthouse thresholds
  e2e/tests/__screenshots__/visual/index.spec.ts/footer--firefox.png
  e2e/tests/__screenshots__/visual/index.spec.ts/footer--tablet-safari.png
  e2e/tests/__screenshots__/visual/index.spec.ts/header--firefox.png
  e2e/tests/__screenshots__/visual/index.spec.ts/header--mobile-chrome.png
  e2e/tests/__screenshots__/visual/index.spec.ts/header--tablet-safari.png
  e2e/tests/__screenshots__/visual/index.spec.ts/project-card-1--chromium.png
  e2e/tests/__screenshots__/visual/index.spec.ts/project-card-1--firefox.png
  e2e/tests/__screenshots__/visual/index.spec.ts/project-card-1--tablet-safari.png
  e2e/tests/__screenshots__/visual/index.spec.ts/project-card-2--chromium.png
  e2e/tests/__screenshots__/visual/index.spec.ts/project-card-2--firefox.png
  e2e/tests/__screenshots__/visual/index.spec.ts/project-card-2--mobile-chrome.png
  e2e/tests/__screenshots__/visual/index.spec.ts/project-card-2--tablet-safari.png
  e2e/tests/accessibility/index.spec.ts
  e2e/tests/performance/index.spec.ts
  e2e/tests/visual/README.md
  e2e/tests/visual/index.spec.ts
  eslint.config.js
  package.json
  playwright.config.ts
Due: format, eslint, lint-package, lint-packages

fix(a11y): restore visible focus, accessible names, zoom and page titles
  src/components/back-to-home-button.astro
  src/layouts/base.astro
  src/layouts/game.astro
  src/pages/tower-blocks.astro
  src/styles/base.css
Due: format, eslint, stylelint

fix(a11y): honor prefers-reduced-motion in the JS motion modules
  src/components/availability.astro
  src/components/landing.astro
  src/lib/landing.ts
  src/lib/loader.animation.ts
  src/lib/scrub-controlled-lottie.ts
  src/utils/motion.test.ts
  src/utils/motion.ts
Due: format, eslint, stylelint

fix(404): keep the recovery link on screen and give the page a heading
  src/pages/404.astro
  src/styles/404.css
Due: format, eslint, stylelint

fix(work): fix back-link and label contrast on the case studies
  src/pages/work/[slug].astro
Due: format, eslint, stylelint

fix(a11y): give the resize handles a keyboard path
  src/components/resizer-container.astro
Due: format, eslint, stylelint

fix(ui): stop the project ring text overlapping itself
  src/components/circle-button.astro
Due: format, eslint, stylelint

chore(fonts,docs): ship Thunder as woff2 with real weight ranges
  CLAUDE.md
  README.md
  cspell.json
  public/fonts/Thunder-VF.ttf
  public/fonts/Thunder-VF.woff2
  src/content/project/kalmia-woods.md
Due: format

feat: add cardColor property to project configuration and update project cards with dynamic background colors
  src/components/landing.astro
  src/content.config.ts
  src/content/project/charleston-bonsai.md
  src/content/project/frigate-boost.md
  src/content/project/isla-suds.md
  src/content/project/kalmia-woods.md
Due: format, eslint, stylelint

refactor: update project card color handling and remove unused assets
  REFACTORING_SUMMARY.md
  astro.config.mjs
  cspell.json
  public/fonts/Geist-Variable.woff2
  public/fonts/GeneralSans-Variable.woff2
  public/fonts/GeneralSans-VariableItalic.woff2
  public/fonts/Thunder-VF.woff2
  src/assets/images/charleston-bonsai-bg.svg
  src/assets/images/frigate-boost-bg.svg
  src/assets/images/isla-suds-bg.svg
  src/assets/images/kalmia-woods-bg.svg
  src/components/about/about.astro
  src/components/about/bio.astro
  src/components/about/location.astro
  src/components/about/mystery-box.astro
  src/components/circle-button.astro
  src/components/contact.astro
  src/components/header-content.astro
  src/components/landing.astro
  src/components/project-card.astro
  src/components/resume-button.astro
  src/components/testimonials/testimonial-card.astro
  src/config/animation.ts
  src/content.config.ts
  src/content/project/charleston-bonsai.md
  src/content/project/frigate-boost.md
  src/content/project/isla-suds.md
  src/content/project/kalmia-woods.md
  src/layouts/base.astro
  src/lib/landing.ts
  src/pages/404.astro
  src/pages/work/[slug].astro
  src/styles/404.css
  src/styles/base.css
Due: format, eslint, stylelint

refactor: update project card color handling and remove unused assets (#676)
  REFACTORING_SUMMARY.md
  astro.config.mjs
  cspell.json
  public/fonts/Geist-Variable.woff2
  public/fonts/GeneralSans-Variable.woff2
  public/fonts/GeneralSans-VariableItalic.woff2
  public/fonts/Thunder-VF.woff2
  src/assets/images/charleston-bonsai-bg.svg
  src/assets/images/frigate-boost-bg.svg
  src/assets/images/isla-suds-bg.svg
  src/assets/images/kalmia-woods-bg.svg
  src/components/about/about.astro
  src/components/about/bio.astro
  src/components/about/location.astro
  src/components/about/mystery-box.astro
  src/components/circle-button.astro
  src/components/contact.astro
  src/components/header-content.astro
  src/components/landing.astro
  src/components/project-card.astro
  src/components/resume-button.astro
  src/components/testimonials/testimonial-card.astro
  src/config/animation.ts
  src/content.config.ts
  src/content/project/charleston-bonsai.md
  src/content/project/frigate-boost.md
  src/content/project/isla-suds.md
  src/content/project/kalmia-woods.md
  src/layouts/base.astro
  src/lib/landing.ts
  src/pages/404.astro
  src/pages/work/[slug].astro
  src/styles/404.css
  src/styles/base.css
Due: format, eslint, stylelint

fix: repair Open Graph share image and make sprite refs host-agnostic
  src/components/SvgSprite.astro
  src/components/open-graph.astro
  src/layouts/base.astro
  src/types/index.ts
Due: format, eslint, stylelint

refactor: replace the icon back button with one labelled back link
  src/components/back-link.astro
  src/components/back-to-home-button.astro
  src/styles/base.css
Due: format, eslint, stylelint

feat(work): rebuild the case study around evidence rather than description
  src/components/motion-demo.astro
  src/content.config.ts
  src/content/project/charleston-bonsai.md
  src/content/project/frigate-boost.md
  src/content/project/isla-suds.md
  src/content/project/kalmia-woods.md
  src/pages/work/[slug].astro
Due: format, eslint, stylelint

feat(tower-blocks): rebuild the game in the site's own materials
  src/pages/tower-blocks.astro
Due: format, eslint, stylelint

feat(immature): make the resize affordance visible and fix mobile portrait
  src/components/resizer-container.astro
  src/pages/immature.astro
Due: format, eslint, stylelint

feat(404): trade the star field for a mint marquee band
  src/pages/404.astro
  src/styles/404.css
Due: format, eslint, stylelint

test(e2e): wait for transitions to settle before scanning with axe
  e2e/tests/accessibility/index.spec.ts
Due: format, eslint

Feat/secondary pages awwwards (#677)
  e2e/tests/accessibility/index.spec.ts
  src/components/SvgSprite.astro
  src/components/back-link.astro
  src/components/back-to-home-button.astro
  src/components/motion-demo.astro
  src/components/open-graph.astro
  src/components/resizer-container.astro
  src/content.config.ts
  src/content/project/charleston-bonsai.md
  src/content/project/frigate-boost.md
  src/content/project/isla-suds.md
  src/content/project/kalmia-woods.md
  src/layouts/base.astro
  src/pages/404.astro
  src/pages/immature.astro
  src/pages/tower-blocks.astro
  src/pages/work/[slug].astro
  src/styles/404.css
  src/styles/base.css
  src/types/index.ts
Due: format, eslint, stylelint

fix: fix stylelint error in mystery-box.astro (#678)
  src/components/about/mystery-box.astro
Due: format, eslint, stylelint

chore: update Node.js version to 25 and pnpm to 12.3.2; clean up mise.toml and package.json
  .github/actions/prepare/action.yml
  mise.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint-package, lint-packages

chore: update Node.js version to 25 and pnpm to 12.3.2; clean up mise.toml and package.json (#679)
  .github/actions/prepare/action.yml
  mise.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint-package, lint-packages

chore: update package.json and pnpm-lock.yaml; adjust stylelint configuration
  package.json
  pnpm-lock.yaml
  stylelint.config.cjs
Due: format, eslint, lint-package, lint-packages

chore: update package.json and pnpm-lock.yaml; adjust stylelint configuration (#680)
  package.json
  pnpm-lock.yaml
  stylelint.config.cjs
Due: format, eslint, lint-package, lint-packages

fix: uncomment and refine URL filtering logic for chrome-extension in service worker (#691)
  src/sw/fetch.js
Due: format, eslint

🧪 [testing improvement] Add missing tests for LineSplitter (#685)
  src/lib/text-split/line-splitter.test.ts
Due: format, eslint

🔒 Fix insecure random number generation in color util (#682)
  src/utils/color.test.ts
  src/utils/color.ts
Due: format, eslint

⚡ Replace forEach with for...of in event listener attachment and attribute setting loops (#681)
  src/components/resizer-container.astro
Due: format, eslint, stylelint

🧪 [testing improvement] Add tests for WordSplitter (#683)
  src/lib/text-split/word-splitter.test.ts
Due: format, eslint

🧹 [Code Health] Remove unused `ua.ts` implementation (#684)
  src/utils/ua.ts
Due: format, eslint

🧪 Add tests for UA detection utility (#686)
  cspell.json
  src/utils/ua.test.ts
Due: format, eslint

🔒 Fix insecure HTTP URL in mystery-box.astro (#687)
  src/components/about/mystery-box.astro
Due: format, eslint, stylelint

🧹 [Code Health] Remove unreachable 'isAppleDevice' condition in 'detect.ts' (#688)
  src/utils/detect.test.ts
  src/utils/detect.ts
Due: format, eslint

🔒 Fix: add noopener/noreferrer to window.open (#689)
  src/components/resume-button.astro
Due: format, eslint, stylelint

perf(tower-blocks): use Object.values instead of for...in (#690)
  src/pages/tower-blocks.astro
Due: format, eslint, stylelint

⚡ Replace forEach with for...of in NodeList iteration (#692)
  src/pages/work/[slug].astro
Due: format, eslint, stylelint

⚡ perf: replace forEach with for...of in scene children cleanup (#693)
  src/pages/tower-blocks.astro
Due: format, eslint, stylelint
