Repository shotcowboystyle/shotcowboystyle.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: format, eslint, stylelint, lint-package, lint-packages

format:
  run: pnpm exec prettier --ignore-unknown --cache --write --no-error-on-unmatched-pattern --log-level error {staged_files}
  stage_fixed: true

eslint:
  run: pnpm exec eslint --ignore-path '.eslintignore' --fix {staged_files}
  stage_fixed: true

stylelint:
  run: pnpm exec stylelint {staged_files} --cache --fix
  stage_fixed: true

lint-package:
  run: pnpm run lint:package:check

lint-packages:
  run: pnpm run lint:packages:check

build: drop the pnpm dedupe lockfile check
  CLAUDE.md
  lefthook.yml
  package.json
Due: format, lint-package, lint-packages

feat(about): compute the mystery box question mark and add Bonsai Studio link (#726)
  CLAUDE.md
  lefthook.yml
  package.json
  src/components/about/about.astro
  src/components/about/mystery-box.astro
  src/components/about/question-mark.test.ts
  src/components/about/question-mark.ts
Due: format, eslint, stylelint, lint-package, lint-packages

feat: add Umami analytics
  src/layouts/base.astro
Due: format, eslint, stylelint

feat: add Umami analytics (#727)
  src/layouts/base.astro
Due: format, eslint, stylelint

feat(work): frame phone captures in an iPhone bezel and fit card shots on mobile
  src/components/phone-frame.astro
  src/components/project-card.astro
  src/pages/work/[slug].astro
Due: format, eslint, stylelint

chore: refresh Isla Suds captures from the live site
  src/assets/images/isla-suds-screenshot.png
  src/assets/images/isla-suds/desktop-bath.webp
  src/assets/images/isla-suds/desktop-fresh.webp
  src/assets/images/isla-suds/desktop-hero.webp
  src/assets/images/isla-suds/desktop-ingredients.webp
  src/assets/images/isla-suds/desktop-product-cards.webp
  src/assets/images/isla-suds/desktop-silky-smooth.webp
  src/assets/images/isla-suds/desktop-simple-soap.webp
  src/assets/images/isla-suds/desktop-suds-happen.webp
  src/assets/images/isla-suds/phone-bath.webp
  src/assets/images/isla-suds/phone-hero.webp
  src/assets/images/isla-suds/phone-own-skin.webp
  src/assets/images/isla-suds/phone-products.webp
  src/assets/images/isla-suds/phone-suds-happen.webp
  src/content/project/isla-suds.md
Due: format

fix(about): two-column bento below xl and align the CV ledger
  src/components/about/about.astro
  src/components/about/back-to-top.astro
  src/components/about/bio.astro
  src/components/about/cv.astro
  src/components/contact.astro
Due: format, eslint, stylelint

Polish: Isla Suds captures, iPhone frame, mobile cards, About bento + CV alignment (#728)
  src/assets/images/isla-suds-screenshot.png
  src/assets/images/isla-suds/desktop-bath.webp
  src/assets/images/isla-suds/desktop-fresh.webp
  src/assets/images/isla-suds/desktop-hero.webp
  src/assets/images/isla-suds/desktop-ingredients.webp
  src/assets/images/isla-suds/desktop-product-cards.webp
  src/assets/images/isla-suds/desktop-silky-smooth.webp
  src/assets/images/isla-suds/desktop-simple-soap.webp
  src/assets/images/isla-suds/desktop-suds-happen.webp
  src/assets/images/isla-suds/phone-bath.webp
  src/assets/images/isla-suds/phone-hero.webp
  src/assets/images/isla-suds/phone-own-skin.webp
  src/assets/images/isla-suds/phone-products.webp
  src/assets/images/isla-suds/phone-suds-happen.webp
  src/components/about/about.astro
  src/components/about/back-to-top.astro
  src/components/about/bio.astro
  src/components/about/cv.astro
  src/components/contact.astro
  src/components/phone-frame.astro
  src/components/project-card.astro
  src/content/project/isla-suds.md
  src/pages/work/[slug].astro
Due: format, eslint, stylelint

ci: serve animation-grabber site at /projects/animation-grabber
  .github/workflows/ci.yml
Due: format

ci: serve animation-grabber site at /projects/animation-grabber (#729)
  .github/workflows/ci.yml
Due: format

fix(map): migrate to maplibre-gl v6 ESM entry
  src/lib/map/map-provider.ts
  src/lib/map/marker-manager.ts
  src/lib/map/types.ts
  src/lib/map/zoom-controller.ts
Due: format, eslint

style: reformat astro files for prettier-plugin-astro v1
  src/components/SvgSprite.astro
  src/components/about/back-to-top.astro
  src/components/about/bio.astro
  src/components/about/cv.astro
  src/components/about/location-navigation.astro
  src/components/about/mystery-box.astro
  src/components/about/social-card.astro
  src/components/back-link.astro
  src/components/circle-button-stars.astro
  src/components/circle-button.astro
  src/components/contact.astro
  src/components/experiments-plate.astro
  src/components/header-content.astro
  src/components/landing.astro
  src/components/phone-frame.astro
  src/components/project-card.astro
  src/components/report.astro
  src/components/resizer-container.astro
  src/components/resume-button.astro
  src/components/site-index.astro
  src/layouts/base.astro
  src/pages/404.astro
  src/pages/immature.astro
  src/pages/tower-blocks.astro
  src/pages/work/[slug].astro
Due: format, eslint, stylelint

feat(about): replace social card with goodies carousel
  cspell.json
  src/assets/goodies/ag-stacked-primary-800w.png
  src/components/about/about.astro
  src/components/about/goodies-card.astro
  src/components/about/goodies/animation-grabber-slide.astro
  src/components/about/goodies/lobster-jobsters-slide.astro
  src/components/about/social-card.astro
  src/lib/goodies-carousel.test.ts
  src/lib/goodies-carousel.ts
Due: format, eslint, stylelint

feat(about): replace social card with goodies carousel (#730)
  cspell.json
  src/assets/goodies/ag-stacked-primary-800w.png
  src/components/about/about.astro
  src/components/about/goodies-card.astro
  src/components/about/goodies/animation-grabber-slide.astro
  src/components/about/goodies/lobster-jobsters-slide.astro
  src/components/about/social-card.astro
  src/lib/goodies-carousel.test.ts
  src/lib/goodies-carousel.ts
Due: format, eslint, stylelint

feat(about): rework bento grid to fit tablets and short screens
  cspell.json
  src/components/about/about.astro
  src/components/about/back-to-top.astro
  src/components/about/bio.astro
  src/components/about/cv.astro
  src/components/about/goodies-card.astro
  src/components/about/mystery-box.astro
Due: format, eslint, stylelint

fix(home): reorder social icons and show Clean Break's phone on mobile
  src/components/availability.astro
  src/components/header-content.astro
  src/components/project-card.astro
  src/components/site-index.astro
Due: format, eslint, stylelint

chore(work): re-shoot Holy City Live and Charleston Bonsai captures
  src/assets/images/charleston-bonsai-screenshot.png
  src/assets/images/charleston-bonsai/desktop-catalog.webp
  src/assets/images/charleston-bonsai/desktop-hero.webp
  src/assets/images/charleston-bonsai/desktop-real-tree.webp
  src/assets/images/charleston-bonsai/desktop-seasons.webp
  src/assets/images/charleston-bonsai/desktop-waiting.webp
  src/assets/images/charleston-bonsai/phone-catalog.webp
  src/assets/images/charleston-bonsai/phone-hero.webp
  src/assets/images/charleston-bonsai/phone-real-tree.webp
  src/assets/images/holy-city-live-screenshot.png
  src/assets/images/holy-city-live/desktop-construction.webp
  src/assets/images/holy-city-live/desktop-flood-heat.webp
  src/assets/images/holy-city-live/desktop-public-safety.webp
  src/assets/images/holy-city-live/desktop-service-days.webp
  src/assets/images/holy-city-live/phone-construction.webp
  src/assets/images/holy-city-live/phone-public-safety.webp
  src/assets/images/holy-city-live/phone-service-days.webp
Due: none

feat(work): brand-led folios, new project order and plate art
  src/assets/images/charleston-bonsai/logo.svg
  src/assets/images/clean-break/logo.svg
  src/assets/images/holy-city-live/card-bg-mobile.svg
  src/assets/images/holy-city-live/card-bg.svg
  src/assets/images/holy-city-live/logo-reverse.png
  src/assets/images/isla-suds/cover.png
  src/assets/images/kalmia-woods/logo.svg
  src/components/landing.astro
  src/components/project-card-bg.astro
  src/content.config.ts
  src/content/project/charleston-bonsai.md
  src/content/project/clean-break.md
  src/content/project/holy-city-live.md
  src/content/project/isla-suds.md
  src/content/project/kalmia-woods.md
  src/lib/projects.ts
  src/pages/work/[slug].astro
Due: format, eslint, stylelint

test(e2e): open the Index from the pill once past the landing hero
  e2e/tests/pages/page-transition.spec.ts
Due: format, eslint

feat: update old non-sensical about me description
  e2e/tests/pages/index.spec.ts
  src/components/header-content.astro
  src/components/open-graph.astro
  src/layouts/base.astro
Due: format, eslint, stylelint

feat: update old non-sensical about me description (#732)
  e2e/tests/pages/index.spec.ts
  src/components/header-content.astro
  src/components/open-graph.astro
  src/layouts/base.astro
Due: format, eslint, stylelint

fix: update links in astro config
  astro.config.mjs
Due: format, eslint

fix: update links in astro config (#733)
  astro.config.mjs
Due: format, eslint

fix: allow ChatGPT-User and advertise experiments sitemap in robots.txt
  public/robots.txt
Due: none

fix: allow ChatGPT-User and advertise experiments sitemap in robots.txt (#734)
  public/robots.txt
Due: none

fix: correct "to created" typo in site description
  e2e/tests/pages/index.spec.ts
  src/components/header-content.astro
  src/components/open-graph.astro
  src/layouts/base.astro
Due: format, eslint, stylelint

feat(seo): add structured data and llms.txt, drop keywords meta
  cspell.json
  e2e/tests/pages/index.spec.ts
  src/components/seo.astro
  src/pages/llms.txt.ts
  src/pages/work/[slug].astro
Due: format, eslint, stylelint

feat(seo): add structured data and llms.txt, drop keywords meta (#735)
  cspell.json
  e2e/tests/pages/index.spec.ts
  src/components/header-content.astro
  src/components/open-graph.astro
  src/components/seo.astro
  src/layouts/base.astro
  src/pages/llms.txt.ts
  src/pages/work/[slug].astro
Due: format, eslint, stylelint

perf: lighter lottie player, pause hero loop offscreen, trim smooth scroll
  src/lib/scrub-controlled-lottie.ts
  src/lib/smooth-scroll.ts
Due: format, eslint

perf: lighter lottie player, pause hero loop offscreen, trim smooth scroll (#736)
  src/lib/scrub-controlled-lottie.ts
  src/lib/smooth-scroll.ts
Due: format, eslint

feat: restore the striped page curtain for side-room pages
  astro.config.mjs
  src/components/availability.astro
  src/components/circle-button.astro
  src/components/header-content.astro
  src/components/page-curtain.astro
  src/layouts/base.astro
  src/lib/view-transition.js
  src/lib/view-transition.test.ts
  src/styles/base.css
Due: format, eslint, stylelint

feat: restore the striped page curtain for side-room pages (#737)
  astro.config.mjs
  src/components/availability.astro
  src/components/circle-button.astro
  src/components/header-content.astro
  src/components/page-curtain.astro
  src/layouts/base.astro
  src/lib/view-transition.js
  src/lib/view-transition.test.ts
  src/styles/base.css
Due: format, eslint, stylelint

feat(projects): link Clean Break to its TestFlight beta
  src/content.config.ts
  src/content/project/clean-break.md
Due: format, eslint

feat(projects): link Clean Break to its TestFlight beta (#738)
  src/content.config.ts
  src/content/project/clean-break.md
Due: format, eslint

perf: spin the circle button ring only on hover or focus
  astro.config.mjs
  src/components/circle-button.astro
Due: format, eslint, stylelint

feat(about): restore hand-tuned mystery box swarm with radar pulse
  src/components/about/mystery-box.astro
  src/components/about/question-mark.test.ts
  src/components/about/question-mark.ts
Due: format, eslint, stylelint

feat(about): restore mystery box swarm, radar pulse, hover-only ring spin (#739)
  astro.config.mjs
  src/components/about/mystery-box.astro
  src/components/about/question-mark.test.ts
  src/components/about/question-mark.ts
  src/components/circle-button.astro
Due: format, eslint, stylelint

perf: cut GPU memory and scroll reflow on the landing page
  src/components/landing.astro
  src/styles/base.css
Due: format, eslint, stylelint

fix: walk the full lottie trigger depth and stop writing request.url
  src/lib/scrub-controlled-lottie.ts
  src/sw/fetch.js
  src/utils/dom.test.ts
  src/utils/dom.ts
Due: format, eslint

Path conditions:
  format: any of: *.{js,cjs,mjs,ts,jsx,tsx,md,json,css,scss,html,yml,yaml,astro}
  eslint: any of: *.{js,cjs,mjs,jsx,ts,tsx,astro}
  stylelint: any of: *.{astro,css,scss}
  lint-package: any of: package.json
  lint-packages: any of: package.json
