Repository shotcowboystyle/shotcowboystyle.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: format, eslint, stylelint, lint-package, lint-packages

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md

post-checkout:
  commands:
    conditional-pnpm-install:
      # Run pnpm install if pnpm-lock changed between the commits we checked out.
      # {1} is old-hash, {2} is current-head, {3} is 1 for a branch checkout, 0 for a file checkout
      # See https://git-scm.com/docs/githooks#_post_checkout
      run: 'if [ ! -z "$(git diff {1}..{2} --name-only pnpm-lock.yaml)" ]; then pnpm install -r; fi'

# Use this to build commit messages
prepare-commit-msg:
  commands:
    commitzen:
      interactive: true
      run: LEFTHOOK=0 pnpm cz

# Use this to validate commit messages
commit-msg:
  commands:
    'lint commit message':
      run: pnpm commitlint --edit {1}

# pre-push:
#   parallel: true
#   commands:
#     stylelint:
#       tags: frontend style
#       files: git diff --name-only master
#       glob: "*.js"
#       run: yarn stylelint {files}
#   scripts:
#     "verify":
#       runner: sh

#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit

pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{js,cjs,mjs,ts,jsx,tsx,md,json,css,scss,html,yml,yaml,astro}'
      run: pnpm exec prettier --ignore-unknown --cache --write --no-error-on-unmatched-pattern --log-level error {staged_files}
      stage_fixed: true
    eslint:
      glob: '*.{js,cjs,mjs,jsx,ts,tsx,astro}'
      run: pnpm exec eslint --ignore-path '.eslintignore' --fix {staged_files}
      stage_fixed: true
    stylelint:
      glob: '*.{astro,css,scss}'
      run: pnpm exec stylelint {staged_files} --cache --fix
      stage_fixed: true
    lint-spelling:
      run: 'pnpm exec cspell {staged_files}'
    lint-package:
      glob: 'package.json'
      run: 'pnpm run lint:package:check'
    lint-packages:
      glob: 'package.json'
      run: 'pnpm run lint:packages:check'
    dead-code:
      run: 'pnpm run lint:knip:check'
    typecheck:
      run: 'pnpm run types:check'
      stage_fixed: true

ci(release): fix semantic release automation
  .github/workflows/release.yml
  package.json
Due: format, lint-package, lint-packages

ci(deploy): combine validation deploy and release actions
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: format

ci: fix github pages deployment
  .github/workflows/ci.yml
Due: format

ci: reapply all code checks and tests in ci workflow
  .github/workflows/ci.yml
Due: format

refactor(ui): remove unused tailwind dark mode styles
  public/sw.js
  tailwind.config.cjs
Due: format, eslint

feat: add responsive image srcset widths to site images
  astro.config.mjs
  knip.config.mjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
  public/sw.js
  src/components/header-content.astro
  src/components/project-card.astro
  src/components/testimonials/testimonial-card.astro
Due: format, eslint, stylelint, lint-package, lint-packages

fix: disable lenis smoothTouch for better touch scrolling
  src/pages/index.astro
Due: format, eslint, stylelint

fix: pass astro props to SvgSprite component
  cspell.json
  knip.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  public/assets/images/sprite.svg
  public/sw.js
  src/assets/images/sprite/crosshair.svg
  src/assets/images/sprite/github-solid.svg
  src/assets/images/sprite/hair-dryer.svg
  src/assets/images/sprite/linkedin-solid.svg
  src/assets/images/sprite/ok-hand.svg
  src/assets/images/sprite/x.svg
  src/components/SvgSprite.astro
  src/components/about/back-to-top.astro
  src/components/about/current-session-stats.tsx
  src/components/about/mystery-box.astro
  src/components/about/social-card.astro
  src/components/header-content.astro
  src/components/resizer-container.astro
  src/lib/constants.ts
  src/pages/tower-blocks.astro
Due: format, eslint, stylelint, lint-package, lint-packages

feat: new 404 page with hover animation
  .eslintrc.cjs
  .prettierrc.cjs
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  public/sw.js
  src/pages/404.astro
Due: format, eslint, stylelint, lint-package, lint-packages

refactor: 404 page and html and styles programmatic approach
  .github/workflows/codeql-analysis.yml
  .github/workflows/compliance.yml
  public/sw.js
  src/components/about/mystery-box.astro
  src/components/landing.astro
  src/components/testimonials/testimonials-swiper.astro
  src/pages/404.astro
  src/pages/index.astro
  src/sw/cache.js
  src/sw/fetch.js
  src/sw/message.js
  src/sw/notification.js
  tailwind.config.cjs
Due: format, eslint, stylelint

perf: location image to use astro image enhancements
  public/sw.js
  src/assets/images/memoji.png
  src/components/about/about.astro
  src/components/about/location.tsx
  src/sw/fetch.js
Due: format, eslint, stylelint

fix: remove deprecated pluginSearchDirs from prettier config
  .prettierrc.cjs
  package.json
  pnpm-lock.yaml
  src/components/about/bio.astro
Due: format, eslint, stylelint, lint-package, lint-packages

refactor: replace sass with postcss equivalents
  .vscode/settings.json
  astro.config.mjs
  knip.config.mjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  public/sw.js
  src/pages/404.astro
  src/styles/404.css
  stylelint.config.cjs
Due: format, eslint, stylelint, lint-package, lint-packages

feat: add robots.txt file for search engines
  .editorconfig
  .vscode/settings.json
  package.json
  public/robots.txt
  tsconfig.json
Due: format, lint-package, lint-packages

refactor: inject real email via javascript after page load
  cspell.json
  package.json
  public/sw.js
  src/assets/images/mystery-box.svg
  src/components/contact.astro
  src/components/header-content.astro
  src/constants.ts
  src/utils/email.ts
Due: format, eslint, stylelint, lint-package, lint-packages

chore: throttle astro prefetch integration
  astro.config.mjs
Due: format, eslint

fix: download resume link and mystery box hover non-mobile screens
  astro.config.mjs
  cspell.json
  public/sw.js
  src/components/about/about.astro
  src/components/about/bio.astro
  src/components/about/mystery-box.astro
  src/components/header-content.astro
  src/components/resume-button.astro
  src/components/seo.astro
  src/styles/base.css
Due: format, eslint, stylelint

fix: responive styles tweaks
  public/sw.js
  src/assets/images/kalmia-woods-bg.svg
  src/assets/images/kalmia-woods-bg.webp
  src/components/about/location.tsx
  src/components/about/mystery-box.astro
  src/components/project-card.astro
  src/components/testimonials/testimonials-swiper.astro
  src/content/config.ts
  src/content/project/kalmia-woods.md
  src/content/testimonial/donald-trump.md
  src/content/testimonial/jar-jar-binks.md
  src/content/testimonial/ned-flanders.md
Due: format, eslint, stylelint

fix: fix build error due to prettier formatting errors
  src/components/common/site-verification.astro
  src/components/favicons.astro
  src/components/seo.astro
  src/components/testimonials/testimonials.astro
Due: format, eslint, stylelint
