Repository shotcowboystyle/shotcowboystyle.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: format, eslint, stylelint, lint-package, lint-packages

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md

post-checkout:
  commands:
    conditional-pnpm-install:
      # Run pnpm install if pnpm-lock changed between the commits we checked out.
      # {1} is old-hash, {2} is current-head, {3} is 1 for a branch checkout, 0 for a file checkout
      # See https://git-scm.com/docs/githooks#_post_checkout
      run: 'if [ ! -z "$(git diff {1}..{2} --name-only pnpm-lock.yaml)" ]; then pnpm install -r; fi'

# Use this to build commit messages
prepare-commit-msg:
  commands:
    commitzen:
      interactive: true
      run: LEFTHOOK=0 pnpm cz

# Use this to validate commit messages
commit-msg:
  commands:
    'lint commit message':
      run: pnpm commitlint --edit {1}

# pre-push:
#   parallel: true
#   commands:
#     stylelint:
#       tags: frontend style
#       files: git diff --name-only master
#       glob: "*.js"
#       run: yarn stylelint {files}
#   scripts:
#     "verify":
#       runner: sh

#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit

pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{js,cjs,mjs,ts,jsx,tsx,md,json,css,scss,html,yml,yaml,astro}'
      run: pnpm exec prettier --ignore-unknown --cache --write --no-error-on-unmatched-pattern --log-level error {staged_files}
      stage_fixed: true
    eslint:
      glob: '*.{js,cjs,mjs,jsx,ts,tsx,astro}'
      run: pnpm exec eslint --ignore-path '.eslintignore' --fix {staged_files}
      stage_fixed: true
    stylelint:
      glob: '*.{astro,css,scss}'
      run: pnpm exec stylelint {staged_files} --cache --fix
      stage_fixed: true
    lint-spelling:
      run: 'pnpm exec cspell {staged_files}'
    lint-package:
      glob: 'package.json'
      run: 'pnpm run lint:package:check'
    lint-packages:
      glob: 'package.json'
      run: 'pnpm run lint:packages:check'
    dead-code:
      run: 'pnpm run lint:knip:check'
    typecheck:
      run: 'pnpm run types:check'
      stage_fixed: true

fix: fix build error due to prettier formatting errors
  src/components/common/site-verification.astro
  src/components/favicons.astro
  src/components/seo.astro
  src/components/testimonials/testimonials.astro
Due: format, eslint, stylelint

fix: mobile rotation bleed over to global styles
  public/sw.js
  src/components/back-to-home-button.astro
  src/components/header-content.astro
  src/pages/immature.astro
  src/pages/tower-blocks.astro
Due: format, eslint, stylelint

feat(agents): add agent configurations
  .claude/commands/architecture-review.md
  .claude/commands/create-worktrees.md
  .claude/commands/design-database-schema.md
  .claude/commands/design-rest-api.md
  .claude/commands/memory-spring-cleaning.md
  .claude/commands/session-learning-capture.md
  .claude/commands/setup-visual-testing.md
  .claude/commands/test-coverage.md
  .claude/commands/test-quality-analyzer.md
  .claude/scripts/context-monitor.py
  .gitignore
  CLAUDE.md
  REFACTORING_SUMMARY.md
  cspell.json
  lefthook.yml
  package.json
  public/sw.js
  src/components/about/about.astro
  src/config/animation.test.ts
  src/content.config.ts
  src/lib/app.ts
  src/lib/landing.ts
  src/styles/base.css
  src/utils/module-loader.ts
Due: format, eslint, stylelint, lint-package, lint-packages

feat(agents): add agent configurations (#580)
  .claude/commands/architecture-review.md
  .claude/commands/create-worktrees.md
  .claude/commands/design-database-schema.md
  .claude/commands/design-rest-api.md
  .claude/commands/memory-spring-cleaning.md
  .claude/commands/session-learning-capture.md
  .claude/commands/setup-visual-testing.md
  .claude/commands/test-coverage.md
  .claude/commands/test-quality-analyzer.md
  .claude/scripts/context-monitor.py
  .gitignore
  CLAUDE.md
  REFACTORING_SUMMARY.md
  cspell.json
  lefthook.yml
  package.json
  public/sw.js
  src/components/about/about.astro
  src/config/animation.test.ts
  src/content.config.ts
  src/lib/app.ts
  src/lib/landing.ts
  src/styles/base.css
  src/utils/module-loader.ts
Due: format, eslint, stylelint, lint-package, lint-packages

fix: optimize scroll performance
  public/sw.js
  src/lib/section-card-scroll-animation.ts
  src/lib/smooth-scroll.ts
Due: format, eslint

fix: optimize scroll performance (#581)
  public/sw.js
  src/lib/section-card-scroll-animation.ts
  src/lib/smooth-scroll.ts
Due: format, eslint

feat: refactor CSS media queries to use theme breakpoints
  cspell.json
  knip.config.mjs
  pnpm-lock.yaml
  public/sw.js
  src/assets/images/charleston-bonsai-bg.svg
  src/assets/images/charleston-bonsai-screenshot.png
  src/assets/images/isla-suds-bg.svg
  src/assets/images/isla-suds-screenshot.png
  src/components/about/about.astro
  src/components/about/bio.astro
  src/components/about/location.css
  src/components/about/mystery-box.astro
  src/components/header-content.astro
  src/content/project/charleston-bonsai.md
  src/content/project/isla-suds.md
  src/lib/slider.ts
  src/styles/base.css
Due: format, eslint, stylelint

feat: refactor CSS media queries to use theme breakpoints (#612)
  cspell.json
  knip.config.mjs
  pnpm-lock.yaml
  public/sw.js
  src/assets/images/charleston-bonsai-bg.svg
  src/assets/images/charleston-bonsai-screenshot.png
  src/assets/images/isla-suds-bg.svg
  src/assets/images/isla-suds-screenshot.png
  src/components/about/about.astro
  src/components/about/bio.astro
  src/components/about/location.css
  src/components/about/mystery-box.astro
  src/components/header-content.astro
  src/content/project/charleston-bonsai.md
  src/content/project/isla-suds.md
  src/lib/slider.ts
  src/styles/base.css
Due: format, eslint, stylelint

fix: update service worker cache version and set height for mystery box elements\
  public/sw.js
  src/components/about/mystery-box.astro
Due: format, eslint, stylelint

chore: update Astro dependencies and refresh service worker cache version
  lefthook.yml
  package.json
  pnpm-lock.yaml
  public/sw.js
Due: format, eslint, lint-package, lint-packages

chore: update Astro dependencies and refresh service worker cache version (#623)
  lefthook.yml
  package.json
  pnpm-lock.yaml
  public/sw.js
Due: format, eslint, lint-package, lint-packages

feat: add contact email utility, remove back-to-top component, update copy and service worker cache
  .impeccable.md
  cspell.json
  lefthook.yml
  public/animation/lottie-back-to-top.json
  public/sw.js
  src/components/about/about.astro
  src/components/about/back-to-top.astro
  src/components/about/bio.astro
  src/components/about/mystery-box.astro
  src/components/about/social-card.astro
  src/components/contact.astro
  src/components/header-content.astro
  src/components/resume-button.astro
  src/styles/base.css
  src/utils/email.server.ts
Due: format, eslint, stylelint

feat: add contact email utility, remove back-to-top component, update copy and service worker cache (#624)
  .impeccable.md
  cspell.json
  lefthook.yml
  public/animation/lottie-back-to-top.json
  public/sw.js
  src/components/about/about.astro
  src/components/about/back-to-top.astro
  src/components/about/bio.astro
  src/components/about/mystery-box.astro
  src/components/about/social-card.astro
  src/components/contact.astro
  src/components/header-content.astro
  src/components/resume-button.astro
  src/styles/base.css
  src/utils/email.server.ts
Due: format, eslint, stylelint

fix: downgrade GitHub Actions versions to stable releases
  .github/actions/prepare/action.yml
  .github/workflows/ci.yml
Due: format

fix: downgrade GitHub Actions versions to stable releases (#625)
  .github/actions/prepare/action.yml
  .github/workflows/ci.yml
Due: format

fix(deps): restore pnpm overrides block in lockfile
  pnpm-lock.yaml
Due: format

fix(deps): restore pnpm overrides block in lockfile (#626)
  pnpm-lock.yaml
Due: format

chore(lefthook): lean pre-commit, move heavy checks to pre-push
  lefthook.yml
Due: format

chore: update service worker cache version and sync lockfile
  pnpm-lock.yaml
Due: format

chore(lefthook): lean pre-commit, move heavy checks to pre-push (#627)
  lefthook.yml
  pnpm-lock.yaml
Due: format

fix(tests): restore green e2e suites by fixing real a11y and timing bugs
  package.json
  src/components/resume-button.astro
  src/lib/section-card-scroll-animation.ts
Due: format, eslint, stylelint, lint-package, lint-packages

fix(tests): restore green e2e suites by fixing real a11y and timing bugs (#628)
  package.json
  src/components/resume-button.astro
  src/lib/section-card-scroll-animation.ts
Due: format, eslint, stylelint, lint-package, lint-packages

chore(deps): pnpm dedupe after merge with main
  pnpm-lock.yaml
  public/sw.js
Due: format, eslint

feat(home): drench hero fold in Signal Mint
  DESIGN.md
  public/sw.js
  src/components/landing.astro
Due: format, eslint, stylelint

feat(home): drench hero fold in Signal Mint (#638)
  DESIGN.md
  public/sw.js
  src/components/landing.astro
Due: format, eslint, stylelint

feat(home): reserve hover signatures per action tier
  DESIGN.md
  public/sw.js
  src/components/about/mystery-box.astro
  src/components/project-card.astro
Due: format, eslint, stylelint

feat(home): reserve hover signatures per action tier (#639)
  DESIGN.md
  public/sw.js
  src/components/about/mystery-box.astro
  src/components/project-card.astro
Due: format, eslint, stylelint

fix(ci): restore prettier compliance to unblock Pages deploy
  .gitignore
  src/components/contact.astro
  src/lib/scrub-controlled-lottie.ts
Due: format, eslint, stylelint

fix(ci): restore prettier compliance to unblock Pages deploy (#640)
  .gitignore
  src/components/contact.astro
  src/lib/scrub-controlled-lottie.ts
Due: format, eslint, stylelint

feat: implement dynamic routing for project case studies and update project card interaction design
  DESIGN.md
  astro.config.mjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/circle-button.astro
  src/components/project-card.astro
  src/content.config.ts
  src/content/project/charleston-bonsai.md
  src/content/project/frigate-boost.md
  src/content/project/isla-suds.md
  src/content/project/kalmia-woods.md
  src/pages/work/[slug].astro
Due: format, eslint, stylelint

Fix/format check (#666)
  DESIGN.md
  astro.config.mjs
  pnpm-workspace.yaml
  src/components/circle-button.astro
  src/components/project-card.astro
  src/content.config.ts
  src/content/project/charleston-bonsai.md
  src/content/project/frigate-boost.md
  src/content/project/isla-suds.md
  src/content/project/kalmia-woods.md
  src/pages/work/[slug].astro
Due: format, eslint, stylelint

chore(dx): stop pnpm lockfile churn, dedupe hook work, fix format:fix
  .github/actions/prepare/action.yml
  .github/renovate.json
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
  CLAUDE.md
  README.md
  cspell.json
  eslint.config.js
  knip.config.mjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  release.config.cjs
  release.main.config.cjs
  renovate.json
Due: format, eslint, lint-package, lint-packages

chore(dx): stop pnpm lockfile churn, dedupe hook work, fix format:fix (#667)
  .github/actions/prepare/action.yml
  .github/renovate.json
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
  CLAUDE.md
  README.md
  cspell.json
  eslint.config.js
  knip.config.mjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  release.config.cjs
  release.main.config.cjs
  renovate.json
Due: format, eslint, lint-package, lint-packages

chore(dx): untrack generated service worker, correct README claims
  .gitignore
  README.md
  public/sw.js
Due: format, eslint

chore(dx): untrack generated service worker, correct README claims (#668)
  .gitignore
  README.md
  public/sw.js
Due: format, eslint
